@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*,
*::after
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 65.5%;
}
body{
    
  color: rgb(8, 7, 8);  
  font-family:sans-serif ;
  
}
nav{
    width: 100%;
display: flex;
justify-content: space-around;   
background-color: rgba(8, 60, 233, 0.322);
align-items: center;
-webkit-background-clip: text;
}
.nav-links{
   padding: 20px;
    display: flex;
    gap: 3rem;
    font-size: 1.7rem;
    list-style-type: none;
    text-transform: capitalize;
}
.logo{
    background-image: linear-gradient(to right,rgb(11, 133, 11),rgb(206, 24, 24),blue);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 30px;
    
}


button{
    position: relative;
    padding: 2rem;
    background-color: rgba(0, 17, 255, 0.61)
    
    
}
.solution-container{
    padding: 4rem;
    font-size: large;
    gap: 4rem;
    background-color: rgb(101, 179, 111);
    width: 40%;
    height: 100%;
}
.Product-container{
    width: 40%;
}

    



